@page
@model ATMDemo.Pages.TransactionsModel
@{
    ViewData["Title"] = "Transactions";
}
<div class="container">
    <div class="row col-xs-12">
        <div class="panel panel-info ">
            <!-- Place <h1></h1> below -->
            <div class="panel-heading">
                <div class="panel-title text-uppercase text-center">@ViewData["Title"]</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">need iformation?</a></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Place <h1></h1> below -->
                    <div class="alert alert-success text-center" role="alert">
                        <a href="#" class="alert-link text-center"><i class="glyphicon glyphicon-credit-card"></i> @Model.HttpContext.User.Claims.FirstOrDefault().Value</a>
                    </div>
                    <!-- 3/4 -->
                    <div class="col-md-9">
                        <div class="col-xs-12">
                            <div class="tile">
                                <h4 class="text-uppercase balance">
                                    YOUR CURRENT BALANCE IS :
                                    <span class="glyphicon glyphicon-usd"></span>@Model.Balance
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading text-center">All Transaction</div>
                            <!-- Table -->
                            <table class="table table-striped">
                                <thead >
                                    <tr class="info">
                                        <th>Type</th>
                                        <th>Nature</th>
                                        <th>Amount</th>
                                        <th>Currency</th>
                                        <th>Transaction Date</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.transactionDTOs)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            <td>USD</td>
                                            <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                            <th>@Html.DisplayFor(modelItem => item.Balance)</th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 1/4 -->
                    <div class="col-md-3 text-center">
                        <!-- Button -->
                        <div id="sidePad">
                            <a id="btn-login" onclick="OnPost()" class="btn btn-lg btn-warning btn-padding">
                                <span class="glyphicon glyphicon-refresh"></span> Refresh
                            </a>
                            <a id="btn-login" asp-page="/Dashboard" class="btn btn-warning btn-padding">
                                <span class="glyphicon glyphicon-chevron-left"></span> Back
                            </a>
                            <a id="btn-login" asp-page="/Logout" class="btn btn-success btn-padding">
                                <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- // END OPTIONS-->
        </div><!--  // END column-->
    </div><!-- // END row-->
</div> <!-- // END OPTIONS-->
